@font-face {
    font-family: 'fogtwo';
    src: url(../../css/FogtwoNo5.ttf);
}

#return{
    font-family: 'fogtwo';
    color: #c74548;
    font-size: 20px;
    letter-spacing: 10px;

    position: absolute;
    top: 20px;
    left: 20px;
    border: #c74548 1px solid;
    padding-right: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;

    scale: 80%;

    opacity: 50%;

    transition: 0.5s;

    z-index: 2;
}

#return:hover{
    opacity: 100%;
}


body{
    background-color: #ded7d1;
}

#left-arrow{
    position: absolute;
    width: 60px;
    top: 45%;
    left: 30px;
    opacity: 50%;

    transition: 0.5s;
}

#left-arrow:hover{
    opacity: 100%;
    scale: 120%;

    cursor: pointer;
}

#right-arrow{
    position: absolute;
    width: 60px;
    top: 45%;
    left: 1340px;
    opacity: 50%;

    transition: 0.5s;

}

#right-arrow:hover{
    opacity: 100%;
    scale: 120%;

    cursor: pointer;
}



#slider{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide{
    width: 100%;
    height: 100%;

    position: absolute;
    display: none;

    scale: 90%;
}

.slide.active{
    display: block;
}

/*SLIDE 1*/

#history-1{
    position: absolute;
    width: 1300px;
    top: -170px;
    left:5px;
}

#slide-1{
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 16%;
    top: 120px;


}

#body-1{
    font-family: Arial, Helvetica, sans-serif;
    color: #c74548;
    font-size: 14px;

    width: 600px;
    line-height: 24px;

    position: absolute;
    left: 53%;
    top: 280px;
    text-align: left;


}

#header-1{
    font-family: 'fogtwo';
    font-weight: lighter;
    letter-spacing: 10px;
    color: #c74548;

    font-size: 180px;
    position: absolute;
    left: 52%;
    top: -40px;
}

#yakult-name{
    font-family: 'fogtwo';
    font-weight: lighter;
    letter-spacing: 20px;
    color: #c74548;

    font-size: 20px;
    position: absolute;
    left: 45%;
    top: 16px;
}

#yakult-4{
    width: 1100px;
    position: absolute;
    top: -250px;
    left: -600px;
}

/*SLIDE 2*/

#history-2{
    position: absolute;
    width: 1400px;

}

#yakult-2{
    width: 800px;
    position: absolute;
    top: -50px;
    left: -30px;
    rotate: -5deg;

}

#body-2{
    font-family: Arial, Helvetica, sans-serif;
    color: #c74548;
    font-size: 14px;

    width: 580px;
    line-height: 24px;

    position: absolute;
    left: 700px;
    top: 400px;
    text-align: left;


}

/*SLIDE 3*/

#yakult_bubble{
    width: 1600px;
    position: absolute;
    top: -30px;
    left: -70px;

}

#yakult-3{
    width: 950px;
    position: absolute;
    top: 20px;
    left: 390px;

    rotate: -10deg;
}

#yakult-3-small{
    width: 700px;
    position: absolute;
    top: 160px;
    left: 800px;

    rotate: 15deg;
}



#body-3{
    font-family: Arial, Helvetica, sans-serif;
    color: #c74548;
    font-size: 14px;

    width: 530px;
    line-height: 24px;

    position: absolute;
    left: 100px;
    top: 490px;
    text-align: left;


}
